@charset "utf-8";

/* font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

/* font-family: 'Montserrat', sans-serif; 
font-family: "Pretendard Variable", Pretendard, -apple-system, sans-serif;*/

/* root */
:root {
  --kor-font: 'Pretendard Variable', Pretendard, -apple-system, sans-serif;
  --eng-font: 'Montserrat', sans-serif;

  --main-bgColor: #333;
  --main-color: #a1a1a1;
  --point-color: #fe9a0c;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--kor-font);
  color: var(--main-color);
  background: var(--main-bgColor);
}

.inner {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

/* slideNav span */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: var(--white-color);
}

/* --- HEADER --- */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 30px 0;
  border-bottom: 1px solid #a1a1a115;
  z-index: 99;
  background: var(--main-bgColor);
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li.on a {
  position: relative;
  color: var(--white-color);
}

header nav ul li.on a::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  transform-origin: center;
  background: var(--point-color);
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 0.3s ease-in-out;
}

/* --- home --- */
#home .inner {
  position: relative;
  top: 130px;
}

#home .title {
  font-size: 70px;
  color: var(--point-color);
}

#home .title span {
  font-weight: 700;
}

#home p {
  line-height: 1.5;
  color: var(--point-color);
}

/* --- introduce --- */
#introduce .inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#introduce img {
  width: 400px;
}

#introduce .mobile-profile {
  display: none;
}

#introduce .introduce-box {
  padding: 0 60px;
}
#introduce .introduce-box .text {
  margin-bottom: 40px;
  line-height: 1.3;
}

#introduce .introduce-box .text h2 {
  font-size: 38px;
  color: var(--point-color);
  margin-bottom: 20px;
  font-family: var(--eng-font);
}
#introduce .introduce-box .text p {
  margin-bottom: 15px;
}

#introduce .introduce-box .text span {
  color: var(--point-color);
}

#introduce .introduce-box hr {
  border: 1px solid #9f9f9f;
}

#introduce .introduce-box .list {
  display: flex;
  margin-top: 40px;
  margin-left: 20px;
}

#introduce .introduce-box .list h2 {
  font-size: 25px;
  color: var(--point-color);
  position: relative;
  font-family: var(--eng-font);
  margin-bottom: 24px;
}

#introduce .introduce-box .list h2::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
}

#introduce .introduce-box .list .skill-tree > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#introduce .introduce-box .list .skill-tree p {
  margin: 0 26px 0 0;
  font-family: var(--eng-font);
}

#introduce .introduce-box .list .skill-tree span {
  width: 10px;
  height: 10px;
  border: 1px dashed var(--main-color);
  border-radius: 50%;
  margin-right: 5px;
}

#introduce .introduce-box .list .skill-tree .check {
  width: 10px;
  height: 10px;
  background: var(--main-color);
  border-radius: 50%;
}

#introduce .introduce-box .list .more {
  margin-left: 60px;
}

#introduce .introduce-box .list .more p {
  margin-bottom: 13px;
}

#introduce .introduce-box .list .more p:last-child {
  margin-bottom: 0;
}

/* --- portfolio --- */
#portfolio .inner .project {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#portfolio .project .publishing_contents {
  margin-right: 170px;
}

#portfolio .project .publishing_contents p:first-child,
#portfolio .project .publishing_contents h3 {
  color: var(--point-color);
}

#portfolio .project .publishing_contents p:first-child {
  font-size: 18px;
  font-family: var(--eng-font);
}

#portfolio .project .publishing_contents h3 {
  font-size: 35px;
  margin-bottom: 18px;
  font-family: var(--eng-font);
}

#portfolio .project .publishing_contents p {
  font-size: 15px;
  line-height: 1.5;
}
#portfolio .project .publishing_contents .progress {
  color: #927c5f;
}

#portfolio .project .publishing_contents .lang {
  display: flex;
  align-items: center;
  font-family: var(--eng-font);
  margin-bottom: 40px;
}

#portfolio .project .publishing_contents .lang .lang-color {
  width: 60px;
  height: 30px;
  border-radius: 15px;
  line-height: 30px;
  text-align: center;
  color: var(--white-color);
  margin-left: 10px;
  margin-top: 10px;
}

#portfolio .project .publishing_contents .lang .lang-color:first-child {
  margin-left: 0;
}

#portfolio .project .publishing_contents .lang .h {
  background: #ff6a00;
}
#portfolio .project .publishing_contents .lang .c {
  background: #0051ff;
}
#portfolio .project .publishing_contents .lang .v {
  background: #41b883;
}

#portfolio .project .publishing_contents .lang .s {
  background: #cd669a;
}
#portfolio .project .publishing_contents .lang .js {
  background: #ffe600;
}

#portfolio .project .publishing_contents .btn-group {
  display: flex;
  justify-content: space-between;
}

#portfolio .project .publishing_contents .first .btn {
  margin-right: 10px;
}
#portfolio .project .publishing_contents .first .btn:last-child {
  margin-right: 0;
}

#portfolio .project .publishing_contents .btn {
  width: 200px;
  height: 45px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  text-align: center;
  line-height: 42px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#portfolio .project .publishing_contents .btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: var(--main-color);
  font-family: var(--eng-font);
}

#portfolio .project .publishing_contents .btn:hover {
  background: var(--point-color);
  border: 1px solid var(--point-color);
}

#portfolio .project .publishing_contents .btn:hover a {
  color: #fff;
}

#portfolio .publishing_img {
  width: 600px;
  height: 450px;
}

#portfolio .publishing_img img {
  width: 100%;
}

/* --- contact --- */
#contact {
  text-align: center;
}

#contact h3 {
  margin: 0 0 26px;
  font-size: 60px;
  color: var(--point-color);
}

#contact p {
  margin-bottom: 100px;
  position: relative;
}

#contact p::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background: var(--main-color);
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}

#contact .infor {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--eng-font);
}

#contact .infor > div > div i {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

#contact .infor > div > div {
  display: flex;
  justify-content: flex-start;
  margin-right: 40px;
  margin-bottom: 20px;
}

#contact .infor .kakaotalk {
  width: 80px;
}

#contact .infor .kakaotalk img {
  width: 100%;
}

/* --- footer --- */
.footer {
  background: #000;
  text-align: center;
}

.footer p {
  font-size: 12px;
  margin: 0;
  line-height: 1.8;
}

.footer-text {
  padding: 25px 0;
}
